__pycache__
.venv
.gitdata/pitching_data/2021.parquet data/pitching_data/2022.parquet data/pitching_data/2023.parquet data/pitching_data/2024.parquet data/pitching_data/2025.parquet data/pitching_data/2026.parquet
